body {
    margin: 0;
    background-color: rgb(3, 20, 41);
}
/*navigation*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.*/
    background-color: #333;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: silver;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.nav li a:hover{
    background-color: #111;
}
/*end of navigation*/

/*body*/
.main{
    height: 640px;
}


/*flexbox*/
.anotherFlex{
    display:flex;
}
#canvas{
    margin-bottom: -5px;
    margin-top: -18.5px; 
    margin-left: 500px;
}
/*style whel onmouseover*/

.ex a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb( 4, 30, 66) inset, 0 0 0 0 rgb( 4, 30, 66);
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .20s ease-out;
    font-size: 18px;
  }
  .ex a:hover {
    box-shadow: 0 0 10px 0 rgb(31, 48, 94) inset, 0 0 10px 4px rgb(31, 48, 94);
    color: white;
    font-size: 18px;
  }

/*end of style*/

/*end body*/

/*bottom*/
.bottom{
    display:flex;
    align-items:center;
    justify-content: center;
    /*flex-wrap: wrap;*/
    background-color: #333;
 }
 .under{
    width:759px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    color: silver;
 }




/*footer{
    background-color: #333;
    height: 300px;
    color: white;

    text-align:center;
    line-height:300px;
}
footer .bottom{
    float: left;
}
.bottom{
    width: 759px;
    height: 300px;
}
/*end of bottom*/